body {
    display: flex;
    flex-flow: column nowrap;
}

.calculator {
    display: flex;
    flex-flow: column nowrap;
    height: 620px;
    width: 600px;
    background-color: rgb(148, 143, 76);
    align-self: center;
    border: 2px solid black;
}

.results-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 20px;
}

.results-header .operation {
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.results-header .results {
    font-size: 30px;
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 7px;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
}

.number.clear {
    border: .4rem solid rgb(235, 12, 12);
    border-radius: .5rem;
}

.equals {
  border: .4rem solid rgb(250, 245, 245);
  border-radius: .5rem;
  margin: 10px;
  font-size: 1.5rem;
  padding: 1rem 20px;
  transition: all .07s ease;
  width: 150px;
  text-align: center;
  color: white;
  background: rgba(110, 59, 59, 0.4);
  text-shadow: 0 0 .5rem black;
  margin: auto;
}

 

button {
    padding: 20px 50px;
    border: .2rem solid blue;
    border-radius: 20px;
}

.number {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 10px;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 150px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black
}

.eraser {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 10px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 150px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black 
}

