body {
    display: flex;
    flex-flow: column nowrap;
    background-color: gray
}

.calculator {
    display: flex;
    flex-flow: column nowrap;
    height: 580px;
    width: 490px;
    background-color: rgb(148, 143, 76);
    align-self: center;
    border: 2px solid black;
}

.results-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100px;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 20px;
    border-bottom: 2px solid black;
}

.results-header .operation {
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.results-header .results {
    font-size: 30px;
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    display: flex;
    flex-flow: row wrap;
   
   
    
}

.numbers {
    display: flex;
    flex-flow: row wrap;
}

.number.clear {
    border: .4rem solid rgb(235, 12, 12);
    border-radius: .5rem;
    width: 120px;
}
.number.clear:hover {
    background-color:rgba(0,0,0,0.6);
}

.equals {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 10px;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 80px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black
}
.equals:hover {
    background-color:rgba(0,0,0,0.6);
}

 

button {
    border: .4rem solid rgb(100, 120, 158);
    border-radius: .5rem;
    margin: 10px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 80px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black    
}
button:hover {
    background-color:rgba(0,0,0,0.6);
}

.number {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 10px;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 80px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black
}
.number:hover {
    background-color:rgba(0,0,0,0.6);
}

.eraser {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 10px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 120px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black 
}
.eraser:hover {
    background-color:rgba(0,0,0,0.6);
}

.thirdPlane {
    display: flex;
    flex-flow: column nowrap;
}

.others {
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.calculator-digits {
    display: flex;
    flex-flow: row nowrap;
}

